html , body {
     background: #000000;
     color: #fff;
     font-family: Helvetica;
     margin: 0;
     padding: 0;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 1em 0.5em;

  color: #fff;
  /* border: solid 2px #fff; */

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.dropzone {
  background-color: #aaa;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  width: 100%;
  height: 30%;
  transition: background-color 0.3s;
}

.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
}

.cell {
    max-width: 33%;
    height: 15%;    
    text-align: center;
    flex: 0 0 33%;                       /* don't grow, don't shrink, width */
}

.imgcell {
    text-align: center;
    flex: 0 0 25%;                       /* don't grow, don't shrink, width */
    border: '20px solid',
    border-color: 'white',
}

.contextcell {
    text-align: center;
    /* flex: 0 0 50%;                       /\* don't grow, don't shrink, width *\/ */
    /* border: '20px solid', */
    /* border-color: 'black', */
}

#header {
    height: 20%;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#roleLabel {
	height: 2%;
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto ;
	left:0; right:0; top:2%; bottom: 0;
	position: absolute;
}

#instructs {
	height: 2%;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto ;
	left:0; right:0; top:7.5%; bottom: 0;
	position: absolute;
	font-size: 120%
}

#post_test_instruction {
    width:50%;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto ;
    left:0; right:0; top:3.5%; bottom: 0;
}

#feedback {
	height: 5%;
	width: 30%;
	text-align: center;
	margin-left: 0;
	margin-right: auto;
	margin-bottom: auto;
	left:auto; right:5%; top:5%; bottom: 0;
	position: absolute;
	font-size: 3vh;
	font-weight:lighter;
}

#waiting {
    height: 5%;
    width: 30%;
    text-align: center;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: auto;
    left:auto; right:5%; top:5%; bottom: 0;
    position: absolute;
    font-size: 3vh;
    font-weight:lighter;
}

#roundnumber {
    height: 2vh;
    width: 20vh;
    text-align: right;
    margin-left: 85%;
    margin-top: 1%;
    margin-right: auto;
    margin-bottom: auto ;
    left:auto; right:5%; top:auto; bottom: 5%;
    position: absolute;
    font-size: 3vh;
}

#score {
    text-align: left;
    height: 5%;
    width: 30%;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: auto ;
    left:5%; right:auto; top:5%; bottom: 0;
    position: absolute;
    font-size: 3vh;
}

#submitbutton {
    height: 6%;
    width: 5%;
    float: left;
    margin-left: 10%;
    margin-top: 2%;
    background: rgb(255,255,255);
    border: none;
    padding: 5px;

/*trying to change around attributes of click button reduces the clickable area
ALOT...don't understand how to adjust that.*/
}

#main {
	height: auto;
	width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto ;
	left:0; right:0; top:15%; bottom: 0;
	position: absolute;
}

#context {
    display: grid;
    /* background: #000000; */
    float: top;
    /* border:solid 1px #333333; *\/ */
    grid-template-columns: 14.625vh 14.625vh 14.625vh 14.625vh;
    grid-template-rows: 14.625vh 14.625vh 14.625vh 14.625vh;
    height: 60vh;
    width: 60vh;
    grid-gap: .5vh;
    background-color: #222222;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto ;
    margin-top: 10%;
    /* margin-right: 5%; */
    background: #383838;
}

#advance_button {
    float: bottom;
	width: 15%;
	height: 20%;
	font-size: 150%;
	background: rgb(130, 224, 255);
	border: none;
	padding: 5px;
}

#message_panel {
	height: 90%;
	width: 40%;

	float: left;

	margin-left: 5%;
	margin-right: 5%;
	list-style-type: none;

	border: solid 1px #999;
}

#context_panel {
	height: 90%;
	width: 40%;

	float: right;

	margin-left: 5%;
	margin-right: 5%;
	list-style-type: none;
}

#labels {
	height:100%;
	text-align: left;
	font-size: 200%;
	overflow-y: visible;
}

#post_test {
	height: auto;
	width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto ;
	left:0; right:0; top:0; bottom: 0;
	position: absolute;
}

#word_grid {
    float: top;
    border:solid 1px #333;
    height: 25vh;
    width: 40vw;
    margin: auto;
    margin-top: 2%;
    font-size: 200%;
    background: #383838;
}

#object_grid {
    float: bottom;
    margin: auto;
    /* border:solid 1px #333; */
    height: 20vw;
    margin-top: 2%;
    width: 80vw;
    z-index: -100;
    /* background: #383838; */
}

/* #context { */
/*     float: right; */
/*     margin: auto; */
/*     border:solid 1px #333; */
/*     height: 75vh; */
/*     margin-top: 2%; */
/*     width: 75vh; */
/*     z-index: -100; */
/*     background: #383838; */
/* } */

/* #chatarea form { */
/* 	background: #212121; */
/* 	padding: 3px; */
/* 	height: 7%; */
/* 	width: 100%; */
/* 	float: bottom; */
/* } */

/* #chatarea input { */
/* 	border: 0; */
/* 	height: 100%; */
/* 	font-size: 150%; */
/* 	width: 80%; */
/* 	margin-left: .5%; */
/* 	margin-right: .5%; */
/* 	padding: 5px; */
/* } */

/* #chatarea button { */
/* 	width: 15%; */
/* 	height: 100%; */
/* 	font-size: 150%; */
/* 	background: rgb(130, 224, 255); */
/* 	border: none; */
/* 	padding: 5px; */
/* } */


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#dimScreen
{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.9);
    z-index: 100
}

#transition_text {
    font-size:200%;
    width:50%;
    top:10%;
    left:25%;
    text-align: left;
    align: left;        
    position:absolute;
    z-index:1000
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
